@import url(style.css);
 /* start the banner */
 .banner{
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner-home.svg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 0px 80px;
}
.left-content{
    width: fit-content;
}
.left-content span{
    font-size: 18px;
    color: var(--main-color);
    font-weight: 500;
}
.left-content p{
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;
}
#special{
    font-size: 42px;
    font-weight: 700;
}
.buttons-banner{
    margin:20px 0px;
    gap:20px;
    display: flex;
    justify-content: space-between;
}
.buttons-banner a{
    border-radius: 20px;
    text-decoration: none;
    color:white;
    background-color: var(--main-color);
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
}
.cards-container{
    position: relative;
    bottom: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
.cards-container .card {
    
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align : center;
    padding: 80px 20px; 
    width: calc(90%/4); 
}
.card-img {
    max-width: 100%; 
    height: auto; 
    border-radius: 4px; 
}
.card-text {
    margin-top: 15px;
    font-size: 16px;
    color: #333; 
}
/* End the banner  */
/* start the why section */

.why-us{
    padding: 50px 50px;
    display:flex;
    justify-content: space-between;
}
.why-us div {
    width: calc(80%/2);
    height: fit-content;
}
.text-container{
    display: flex;
    flex-flow: wrap column;
    gap: 50px;
}
.text-container *{
    height: calc(50%/4);
}
.why-us-title-inside{
    color:var(--main-color);
    font-size: 22px;
    font-weight: 600;
}
#not{
    font-size: 42px;
    font-weight: 600;
}
#you-need{
    font-size: 42px;
    font-weight: 600;
    color: var(--main-color);
}
#text-content{
    font-size: 18px;
    color: #0B1035;
    text-align: justify;
}
.boxes{
    width: 100% !important;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.boxes span{
    width: calc(90% / 3);
    font-size: 22px;
    background-color: var(--main-color);
    text-align: center;
    color: white;
    padding: 10px 0px;
}
/* end the why section */
/* start call to action   */

.call-to-action{
    min-height: 420px;
    background-image: url(../img/join-us.svg);
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.overlay{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap column;
    align-content: center;
    min-height: inherit;
    width: 100%;
    background-color: #1521cf62;
    position: relative;
    z-index: 100;
}
.overlay p {
    font-size: 42px;
    color:white;
    font-weight: 700;
}
.overlay a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: var(--gray);
    width: fit-content;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
}
.overlay a:hover{
    background-color: #d7d7d7b6;
    color: white;
}
.services{
    padding: 100px 80px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.grid-card{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    gap: 10px;
}
.services-card{
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align : center;
    padding: 80px 20px; 
}
.services-card > p:first-of-type{
    color:#0B1035;
    font-weight: 600;
    margin: 10px 0px;
}
.services-card p:nth-of-type(2){
    color:#6D6D6D;

}
#special-card-service {
    background-color: var(--main-color);

}
#we-provide{
    font-size: 42px;
    width: 80%;
    text-align: center;
    font-weight: 700; 
    color: #0B1035 !important;
}
#special-card-service p{
    color:white
}

/* end call to action  */
@media (min-width: 1280px) {

}

@media (min-width: 1024px) and (max-width: 1279px) {
    .why-us{
        flex-flow: row wrap;

    }
    .img-container img{
        width: 100%;
    }
    .why-us div {
        width: calc(90% / 2);
        height: fit-content;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .cards-container{
        width: 90%;
        bottom: 70px;
    }
    .cards-container .card {
        padding: 20px 10px;
    }
    .why-us{
        flex-flow: column wrap;

    }
    .img-container img{
        width: 100%;
    }
    .why-us div {
        width: calc(100% / 1);
        height: fit-content;
    }
}

@media (max-width: 767px){
    .cards-container{
        width: 90%;
        bottom: 100px;
    }
    .cards-container .card {
        padding: 20px 10px;
    }
    .why-us{
        flex-flow: column wrap;

    }
    .img-container img{
        width: 100%;
    }
    .why-us div {
        width: calc(100% / 1);
        height: fit-content;
    }
    .grid-card {

        grid-template-columns: repeat(1, 1fr);
    }
    .card-text{
        font-size: 10px;
    }
    #not{
        font-size: 22px;
    }
    #you-need{
        font-size: 22px;
    }
    #text-content{
        font-size: 14px;
    }
    .text-container{
        gap:10px;
    }
    .boxes span{
        font-size: 10px;
    }
    #we-provide{
        font-size: 16px;
        width: 100%;
        text-align: center;
        font-weight: 700; 
        color: #0B1035 !important;
    }
    #special-card-service p{
        color:white;
    }
    .buttons-banner a {
        font-size: 10px;
        width: 120px;
    }
    .card-img{
        max-width: 50%;
    }
    .cards-container{
        bottom: 62px;
    }
}