/* The main style of the project */

/* import font : popinns */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --main-color : #1521CF;
    --gray : #D7D7D7;
    --links-color : #9C9C9C;
}
/* end font */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}



/* =========================== header ============================ */


header{
    height: 150px;
    width: 100%;
    padding: 0 10%;
}

header .top{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    font-weight: lighter;
}

header .top > div{
    display: flex;
    align-items: center;
    gap: 20px;
}

header .top > div > div{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
header .top > div > div h6{
    font-size: 0.9rem;
    font-weight: 400;
}

header .down{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
header .down ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
header .down ul li a{
    color: #9C9C9C;
    text-decoration: none;
    transition: all 0.4s;
}
header .down ul li a:hover{
    color: #1521CF;
}
header .down img{
    width: 150px;
    height: 45px;
}


header .down > a, ul #List:last-child a{
    padding: 8px 16px;
    background-color: #1521CF;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
header .down ul #List:last-child a{
    display: none;
    border: 2px solid white;
}

header .down > i{
    color:#1521CF;
    font-size: 1.5rem;
    display: none;
}
header .down ul span{
    display: none;
}
@media (max-width:1200px){
    header{
        padding: 0 2%;
    }
}

@media (max-width:1000px){
    header{
        height: 100px;
    }
    header .top{
        display: none;
    }
    header .down > a{
        display: block;
        padding: 8px 32px;
        border: 2px solid white;
    }
    header .down{
        width: 100%;
        height: 100%;
    }
    header .down ul{
        position: fixed;
        z-index: 99;
        top: 0;
        right: 0;
        background-color: #1521cfd4;
        color: white;
        width: 0%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        overflow: hidden;
        transition: all 0.2s;
    }
    header .down ul span{
        display: block;
        position: absolute;
        top: 5%;
        left: 5%;
        font-size: 2.5rem;
    }
    header .down ul li a{
        font-size: 1.2rem;
        font-weight: bold;
    }
    header .down > i{
        display: block;
    }
    header .down ul li:last-child a{
        display: block;
    }
    header .down > a{
         display: none;
    }
}

/* ====================== footer ============================= */

footer{
    width: 100%;
    height: 100%;
    min-height: 450px;
    background-color: #1521CF;
    display: grid;
    grid-template-columns: 30% 20% 25% 25%;
    grid-template-rows: 85% 15%;
    color: white;
    padding: 5% 5% 2% 5%;
}
footer > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10%;
}
footer > div img{
    width: 120px;
    height: 45px;
    cursor: pointer;
}
footer :last-child{
    grid-column: 1/6;
    grid-row: 2/3;
}

footer div ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer div ul li{
    font-weight: 400;
    font-size: 0.9rem;
}
footer div ul li a{
    text-decoration: none;
    color: white;
}
footer div ul li p{
    width: 95%;
    line-height: 3.5;
}
footer div ul li div{
    display: flex;
    gap: 10px;
}
footer div ul li div a{
    text-decoration: none;
}
footer div ul li div a i{
    color: #1521CF;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}
footer div ul li div a:hover i{
    transform: scale(110%);
}


footer div h3{
    font-size: 1.2rem;
    font-weight: 600;
}

footer > div:last-child{
    justify-content: center;
    align-items: center;
    padding: 0;
}
footer > div:last-child h6{
    font-weight: 400;
}











@media (max-width:1100px) {
    footer {
        grid-template-columns: 50% 50%;
        grid-template-rows: 300px 300px 50px;
        padding: 4% 2% 2% 2%;
    }
    footer :last-child {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    footer > div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 20%;
    }
}


@media (max-width:700px) {
    footer {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 300px) 50px;
        padding: 4% 2% 2% 2%;
    }
    footer :last-child {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    footer > div {
        padding-left: 0;
        align-items: center;
    }
    footer div ul li {
        display: flex;
        justify-content: center;
    }
    footer :last-child p {
        text-align: center;
    }
}

@media (max-width:500px) {
    footer > div:last-child h6 {
        font-size: 0.8rem;
    }
}
